*, *::before, *::after { box-sizing: border-box; }

html { font-size: clamp(16px, 1.05vw, 21px); }

body { margin: 0; padding: 0; font-family: 'Playfair Display', serif; }

ul, ol, nav { list-style: none; }

a { color: inherit; text-decoration: none; }

img { display: block; max-width: 100%; height: auto; }

h1 { font-weight: 800; font-size: 4.25em; line-height: 1.25em; }

h2, h3, h4, h5, h6 { font-weight: 600; font-size: 2.875em; line-height: 1.25em; }

.title-wrapper { display: block; text-align: center; width: 100%; }

.textbox { color: #3d3d4e; font-size: 1.2em; font-weight: 400; line-height: 1.4; }

.text-underline { text-decoration: underline; }

.cta-link { color: #3BC7DA; font-weight: 800; font-size: 24px; line-height: 1.25; text-decoration: underline; transition: all 0.15s ease; }
.cta-link:hover { color: #0d0c22; }
.cta-link.button { background-color: #3BC7DA; border: none; color: white; display: inline-block; font-family: 'PT Serif', serif; font-size: 18px; font-weight: 700; line-height: 30px; padding: 1em 2em; width: max-content; cursor: pointer; text-decoration: none; }
.cta-link.button:hover { background-color: #0d0c22; }
.cta-link.button.addcart { display: none; font-family: 'PT Sans Narrow', sans-serif; font-weight: 700; font-size: 16px; line-height: 20px; position: absolute; top: 100%; left: 100%; transform: translate(-100%, -100%); }
.cta-link.button:hover { text-decoration: underline; }

.wrapper { max-width: 1200px; padding: 0px 20px; margin: 0 auto; }

.header { background-color: #f8f8f8; }
.header-inner { height: 95px; display: flex; align-items: center; justify-content: start; }

.header .logo-wrapper { margin-right: auto; }

.topnav-menu ul, .top-interactive-menu { display: flex; justify-content: space-between; align-items: center; }

.language-menu { display: flex; align-items: center; gap: 10px; }

.topnav-menu { border-right: 3px solid #868686; }
.topnav-menu a { transition: color 0.15s ease; }

.topnav-menu ul { gap: 30px; padding-right: 30px; }

.top-interactive-menu { padding-left: 30px; gap: 30px; }

.header .icon { background-color: #0d0c22; width: 24px; height: 24px; display: block; mask-size: contain; -webkit-mask-size: contain; mask-repeat: no-repeat; -webkit-mask-repeat: no-repeat; mask-position: center center; -webkit-mask-position: center center; transition: background-color 0.15s ease; }
.header .icon.arrow-icon { mask-image: url(../images/icon-arrow-down.svg); -webkit-mask-image: url(../images/icon-arrow-down.svg); }
.header .icon.search-icon { mask-image: url(../images/icon-search.svg); -webkit-mask-image: url(../images/icon-search.svg); }
.header .icon.shopcart-icon { mask-image: url(../images/shopping-bag.svg); -webkit-mask-image: url(../images/shopping-bag.svg); }

.header button { font-size: inherit; font-family: inherit; border: none; background-color: transparent; cursor: pointer; }
.header button:hover .icon { background-color: #3BC7DA; }

.topnav-menu a:hover { color: #3BC7DA; }

.modal-container { display: none; position: fixed; left: 0; top: 0; width: 100vw; height: 100vh; background-color: rgba(0, 0, 0, 0.6); padding: 50px 20px 0px; z-index: 10; }

.modal-container.active { display: block; animation: 0.3s ease fade; }

@keyframes fade { from { opacity: 0; }
  to { opacity: 1; } }
.modal-inner { background-color: #fff; max-width: 500px; height: fit-content; display: flex; flex-direction: column; align-items: center; text-align: center; margin: 0 auto; position: relative; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); padding: 30px 0px; }
.modal-inner nav ul > * { margin-bottom: 20px; }

.header .modal-close-icon { position: absolute; top: 10px; right: 10px; font-size: 36px; line-height: 36px; font-weight: 600; color: #3d3d4e; cursor: pointer; }

.header .modal-control { background-color: black; mask-image: url(../images/menu-burger-horizontal-svgrepo-com.svg); -webkit-mask-image: url(../images/menu-burger-horizontal-svgrepo-com.svg); display: block; mask-size: contain; -webkit-mask-size: contain; mask-repeat: no-repeat; -webkit-mask-repeat: no-repeat; mask-position: center center; -webkit-mask-position: center center; transition: background-color 0.15s ease; width: 32px; height: 40px; cursor: pointer; display: none; }

.promo-screen { background-image: url(../images/promo-screen-woman-face.jpg); background-repeat: no-repeat; background-size: contain; background-position: left center; }

.promo-screen-content { display: flex; flex-direction: column; gap: 25px 0px; padding-left: 45%; padding-top: 100px; padding-bottom: 50px; }
.promo-screen-content .cta-link.button { margin-bottom: 190px; }

.promo-screen .title-h1 img { display: inline-block; }

.partners { background-color: #f8f8f8; padding: 55px 0px; }
.partners-inner { display: flex; flex-direction: column; align-items: center; }

.partners .title-wrapper { margin-bottom: 50px; }

.partners-container { display: flex; flex-wrap: wrap; justify-content: space-between; gap: 25px; }

.partners-item { flex: 1 1 auto; }

.partners-item-link { background-color: white; border-radius: 15px; border: 1px solid #d1d1d1; height: 95px; width: auto; padding: 0px 30px; display: flex; justify-content: center; align-items: center; transition: all 0.15s ease; }
.partners-item-link:hover { border: 1px solid #3BC7DA; box-shadow: inset 0px 0px 8px rgba(49, 165, 180, 0.1); }

.about { padding-top: 55px; }

.about .title-wrapper { margin-bottom: 45px; text-align-last: left; }

.about > .textbox { margin-bottom: 45px; }

.about .text-content-wrapper { display: flex; flex-direction: column; }
.about .text-content-wrapper .company-stats-container { display: flex; flex-direction: column; }
.about .text-content-wrapper .company-stats-container .company-stats-item { border-bottom: 1px solid #ccc; padding: 15px 0px; display: flex; justify-content: space-between; align-items: center; }
.about .text-content-wrapper .company-stats-item > * { display: inline-block; }
.about .text-content-wrapper .stats-value { color: #3BC7DA; font-size: 32px; line-height: 48px; font-weight: 800; }
.about .text-content-wrapper .stats-descr { font-size: 20px; line-height: 30px; font-weight: 600; }

.grid-content { display: grid; }
.grid-content.split { grid-template-columns: repeat(2, 1fr); }
.grid-content.products { grid-template-columns: repeat(3, 1fr); }

.new-products { padding-top: 150px; }

.new-products .title-wrapper { margin-bottom: 65px; }

.new-products .grid-content { gap: 30px; }

.new-products-item { display: flex; flex-direction: column; }

.new-products-item .image-wrapper { flex: 1 1 auto; position: relative; }
.new-products-item .image-wrapper img { width: 100%; height: 100%; }
.new-products-item .image-wrapper:hover > .cta-link.button.addcart { display: block; }

.item-title-wrapper, .item-price-wrapper .item-price-container { display: flex; justify-content: space-between; }

.item-title-wrapper .item-title, .item-price-wrapper .item-price { font-size: 24px; font-weight: 700; line-height: 32px; }

.item-title-wrapper { border-bottom: 1px solid #ccc; padding: 25px 0px; }

.item-descr span { color: #3d3d4e; font-weight: 400; font-size: 16px; line-height: 22px; }

.link-out i { width: 32px; height: 32px; background-color: #3BC7DA; mask-image: url(../images/icon-link-out1.svg); -webkit-mask-image: url(../images/icon-link-out1.svg); display: block; mask-size: contain; -webkit-mask-size: contain; mask-repeat: no-repeat; -webkit-mask-repeat: no-repeat; mask-position: center center; -webkit-mask-position: center center; transition: background-color 0.15s ease; }

.link-out:hover i { background-color: #0d0c22; }

.item-rating-container { display: flex; align-items: center; gap: 10px; }

.star-rating { display: block; position: relative; height: 20px; width: 100px; }

.stars-wrapper { display: flex; justify-content: space-between; position: absolute; top: 0; left: 0; height: 20px; }
.stars-wrapper.stars-active-wrapper { overflow: hidden; width: 30%; }

.star { background-repeat: no-repeat; background-size: contain; display: inline-block; height: auto; flex: 1 0 20px; }

.star-inactive { background-image: url(../images/icon-star-rating-inactive.svg); }

.star-active { background-image: url(../images/icon-star-rating.svg); }

.rating-count span { display: inline-block; }

.popular { padding: 150px 0px; }

.popular .title-wrapper { margin-bottom: 65px; text-align-last: left; }

.popular .grid-content { gap: 30px; }

.popular .grid-content .new-products-item:nth-child(1) { grid-column: 1 / span 2; }

.booking { background-color: #f8f8f8; background-image: url(../images/woman-before-after.jpg); background-position: left; background-size: contain; background-repeat: no-repeat; padding-top: 80px; padding-bottom: 195px; }

.booking .image-wrapper { position: relative; }
.booking .image-wrapper .image-caption { position: absolute; }
.booking .image-wrapper .image-caption:nth-child(1), .booking .image-wrapper .image-caption:nth-child(2) { top: 15px; }
.booking .image-wrapper .image-caption:nth-child(1) { left: 10%; }
.booking .image-wrapper .image-caption:nth-child(2) { left: 70%; }
.booking .image-wrapper .image-caption:nth-child(3) { top: 100%; left: 50%; transform: translateX(-50%); }

.booking .text-content-wrapper { display: flex; flex-direction: column; align-items: start; }
.booking .text-content-wrapper .title-wrapper { text-align: left; margin-bottom: 25px; }
.booking .text-content-wrapper .textbox { margin-bottom: 40px; }

.review { position: relative; padding: 150px 0px; }

.review-content { display: flex; justify-content: space-between; gap: 2em; height: max-content; }

.review .title-wrapper { text-align: left; margin-bottom: 50px; }

.review .illustration { max-width: 100%; object-fit: contain; }

.review .textbox { margin-bottom: 45px; }

.quote-icon { margin-bottom: 40px; }

.review .reviewer-info { display: flex; flex-direction: column; justify-content: start; margin-bottom: 25px; }
.review .reviewer-info .reviewer-info-row1 { display: flex; margin-bottom: 10px; }
.review .reviewer-info .reviewer-name { font-weight: 700; margin-right: 15px; }
.review .reviewer-info span { color: #3d3d4e; font-size: 16px; font-weight: 400; line-height: 22px; }

.review .review-pagination { display: flex; justify-content: space-between; align-items: center; }

.review .review-count { color: #3d3d4e; font-family: 'PT Serif', serif; font-size: 24px; font-weight: 700; }
.review .review-count span:nth-child(1) { color: #3BC7DA; }

.review .review-controls { display: flex; justify-content: space-between; gap: 20px; }
.review .review-controls .review-arrow { background-color: white; border: 1px solid #3BC7DA; color: #3BC7DA; display: block; width: 70px; height: 70px; cursor: pointer; font-size: 30px; transition: all 0.2s ease-out; }
.review .review-controls .review-arrow.right { background-color: #3BC7DA; color: white; }
.review .review-controls .review-arrow:hover { color: white; background-color: #0d0c22; }

.news { background-color: #04010e; clear: both; color: white; padding: 60px 20% 45px; display: flex; flex-direction: column; align-items: center; }

.news .title-wrapper { color: #3BC7DA; margin-bottom: 35px; }

.news .news-subtitle { margin-bottom: 60px; font-family: 'Playfair Display', serif; font-size: 24px; line-height: 34px; font-weight: 500; }

.news .news-form { display: flex; flex-direction: column; align-items: center; gap: 30px; min-width: 500px; max-width: 900px; margin-bottom: 100px; }
.news .news-form * { width: 100%; }
.news .news-form .email-input-wrapper { position: relative; }
.news .news-form .email { background-color: transparent; border: 1px solid #3BC7DA; font-family: inherit; color: inherit; font-size: inherit; padding: 1em 1em; }

.news .footer-navigation-container { display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap; gap: 25px; width: 100%; margin-bottom: 120px; }
.news .footer-navigation-container .logo-wrapper { flex: 1 0 auto; }
.news .footer-navigation-container .footer-navigation ul { display: flex; align-items: center; gap: 30px; }
.news .footer-navigation-container .footer-navigation ul li a { font-size: 24px; line-height: 32px; color: white; }
.news .footer-navigation-container .footer-navigation ul li a:hover { color: #3BC7DA; }

.news .socials-container { display: flex; justify-content: center; width: 100%; }
.news .socials-container > div { flex: 1 0 calc(100%/3); }
.news .socials-container .copyright-wrapper { display: flex; flex-wrap: nowrap; flex: 1 0 auto; }
.news .socials-container .copyright-wrapper a:hover { color: #3BC7DA; }
.news .socials-container .social-icons-wrapper ul { display: flex; align-items: center; justify-content: flex-end; gap: 15px; }
.news .socials-container .social-icons-wrapper ul img { height: 40px; width: auto; display: inline-block; }

@media screen and (max-width: 767px) { .booking { background-image: none; }
  .review-content { gap: 1em; }
  .review-content .illustration { width: 250px; object-position: top; }
  .topnav-menu, .top-interactive-menu { display: none; }
  .header .modal-control { display: block; }
  .news .socials-container { flex-wrap: wrap; gap: 35px; }
  .news .socials-container > * { flex: 1 1 auto; }
  .news .socials-container .copyright-wrapper { flex: 1 1 auto; flex-wrap: wrap; } }
@media screen and (max-width: 700px) { .grid-content.split { display: flex; flex-direction: column; }
  .grid-content.products { grid-template-columns: repeat(2, 1fr); }
  .news { padding-left: 20px; padding-right: 20px; }
  .news .footer-navigation-container { flex-direction: column; align-items: flex-start; margin-bottom: 30px; }
  .news .footer-navigation-container .logo-wrapper { margin-bottom: 30px; }
  .news .footer-navigation-container .footer-navigation ul { flex-direction: column; align-items: flex-start; } }
@media screen and (max-width: 500px) { .title-h1 { font-size: 3.25em; }
  .grid-content.products { display: flex; flex-direction: column; } }
@media screen and (max-width: 600px) { .review-content { flex-direction: column; }
  .news .news-form { min-width: 100%; margin-bottom: 30px; } }
@media screen and (max-width: 960px) { .booking { background-image: none; }
  .booking .grid-content.split { display: flex; flex-direction: column; } }
@media screen and (max-width: 1200px) { .promo-screen { background-image: none; }
  .promo-screen-content { display: flex; flex-direction: column; gap: 25px 0px; padding-left: 0; } }
